@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
}

.card{
    width: 90%;
    max-width: 500px;
    background: linear-gradient(240deg ,purple,cyan);
    color:#fff;
    margin: 20px auto ;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:#555;
    padding:10px 30px;
    width: 10%;
    height: 10%;
    border-radius: 30px;
    flex:2;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 15px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 25%;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align:left;
    margin-left: 10px;
    font-size: 20px;
    margin-top:25px;
    padding: 10px;
    border-radius: 15px;
    color: darkblue;
    background-color: #CCE5FF;
    display: none;
}

.empty{
    text-align:left;
    margin-left: 10px;
    font-size: 18px;
    margin-top:25px;
    padding: 10px;  
    border-radius: 15px;
    color: darkblue;
    background-color: #CCE5FF;
    display: none;
}